html {
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
.text-center {
  text-align: center;
}
.hidden_until_vue_load {
  display: none;
}
.avatar_a{
  text-decoration: none;
  color: #3b1213 !important;
}
.team_y {
  position: relative;
  float: right;
  top: 10px;
}
.gosick{
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}
.text-small{
  font-size: 80%;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #f9a1a4 !important;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #c0b8d2 !important;
}
.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
    stroke: #f7f7c0 !important;
}
.ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut {
    stroke: #d6d2ce !important;
}
.yuzuko{
  color: #f2d7d8 !important;
}
.yukari{
  color: #e8deff !important;
}
.yui{
  color: #fffcc9 !important;
}
.none{
  color: #eee !important;
}
.yuzuko_div{
  background: #f2d7d8;
  border: 1px !important;
  border-color: #9b898a !important;
}
.yukari_div{
  background: #e8deff;
  border: 1px !important;
  border-color: #9b898a !important;
}
.yui_div{
  background: #fffcc9;
  border: 1px !important;
  border-color: #9b898a !important;
}
.yuzuko_bgimg {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url(/static/yuzuko_thum.jpg) no-repeat;
}
.yukari_bgimg {
  position: relative;
  margin: 0 auto;
  background: url(/static/yuduru_thum.jpg) no-repeat;
}
.yui_bgimg {
  position: relative;
  margin: 0 auto;
  background: url(/static/yui_thum.jpg) no-repeat;
}

.bkRGBA {
  /* 背景画像の透過用css */
  height: 92%;
  width: 92px;
  background: rgba(255,255,255,0.5);
}
.annotate_img{
  text-align: center;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}