<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Greatest Data</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name=”robots” content=”noindex”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mini-sucroa-nowebfont.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body>
    <header class="sticky">
      <a href="/" class="logo">
        Greatest Data
      </a>
      <a href="/set_avatar/yuzuko" class="yuzuko gosick avatar_a">●</a>
      <a href="/set_avatar/yukari" class="yukari gosick avatar_a">●</a>
      <a href="/set_avatar/yui" class="yui gosick avatar_a">●</a>
      <a href="/set_avatar/none" class="none gosick avatar_a">●</a>
      {% if avatar %}
        <span class="{{avatar}} team_y">Team Y</span>
      {% endif %}
    </header>

    <div id="content">{% block content %}{% endblock %}</div>
    <footer id="footer" class="text-center">
      {% block footer %}
      &copy; Copyright 2018 by esuji.
      {% endblock %}
    </footer>
  </body>
</html>