{% extends "base.html" %}
{% block title %}top{% endblock %}
{% block head %}
  {{ super() }}
  {# <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" type="text/css"> #}
  {# <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css" rel="stylesheet" type="text/css"> #}
  {# // <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script> #}
  {# // <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script> #}
{% endblock %}
{% block content %}

{% if not avatar %}
<div class="container">
  <div class="card" style="max-width: 95%;">
    <p>素晴らしいデータにアノテートをするためのサイトにようこそ。</p>
    <p>最初に所属チームを選んでください。選択後もナビバーの●から選択し直せます。</p>
  </div>
  <div class="row">
    <div class="col-sm-4 yuzuko_bgimg">
      <div class="bkRGBA">
        <a href="/set_avatar/yuzuko" class="avatar_a">
          <p>yuzuko</p>
        </a>
      </div>
    </div>
    <div class="col-sm-4 yukari_bgimg">
      <div class="bkRGBA">
        <a href="/set_avatar/yukari" class="avatar_a">
          <p>yukari</p>
        </a>
      </div>
      </a>
    </div>
    <div class="col-sm-4 yui_bgimg">
      <div class="bkRGBA">
        <a href="/set_avatar/yui" class="avatar_a">
          <p>yui</p>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if avatar %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center" style="margin-top: 10px;">
      {% if avatar == "yuzuko" %}
        <img src="{{ url_for('static', filename='yuzuko.jpg')}}"/>
        <p>それはどうかな！</p>
      {% endif %}
      {% if avatar == "yukari" %}
        <img src="{{ url_for('static', filename='yuduru.jpg')}}"/>
        <p>次の目標は4回転半です</p>
      {% endif %}
      {% if avatar == "yui" %}
        <img src="{{ url_for('static', filename='yui.jpg')}}"/>
        <p>我が軍の勝利のようだな！</p>
      {% endif %}
    </div>

    {# {{ the_script|safe }} #}
    {# {{ the_div|safe }} #}
    <div class="card col-sm-12 gosick">
      <ul>
        {% for key, val in step1_inputer_dict.items() %}
          <li>{{ key|default('未入力', True) }}: {{val}}</li>
        {% endfor %}
      </ul>
      <p><small>いい感じのグラフにしたいがうまくいかんかった</small></p>
    </div>
    <div class="card col-sm-12 text-center">
      <p>素晴らしいデータが君を待つ</p>
      <a href="/annotate/{{ next_rand_id }}">
        <button class="primary">れっつあのてーと</button>
      </a>
    </div>

  </div>
</div>
{% endif %}
<!-- Stylized button to mimic the design of an Android app -->

{% endblock %}
